body{

    background: #24789c;
    background: linear-gradient(90deg,rgba(36, 120, 156, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); //Background gradient from Css gradient generator 
    
}




#die {
  height: 100px;
  width: 100px;
  background-color: lightgray; /* Feel free to customize */
  position: relative;
  top: 395px;
  left: 1000px;
  border: 2px solid #000;
    border-radius: 10px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

#die2 {
  height: 100px;
  width: 100px;
  background-color: green; /* Feel free to customize */
  position: relative;
  left: 700px; /* Adjust as needed to position the second die */
  top: 300px; /* Adjust as needed to align with the first die */
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
}