body {
  margin: 0px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Full viewport height */
}

canvas {
  background-image: url('images/background1.jpg');
  margin: 20px;
  background-size: cover; /* Ensures the image covers the entire area */
  background-repeat: no-repeat; /* Prevents tiling */
  background-position: center; /* Centers the image */
}

img {
  display: none;
}

