
body {
  background-image: url('Untitled-1.png');
  width: 900px;
  height: 900px;

}

#board {
  
  width: 600px;
  height: 440px;
  border: 1px solid white;
  border-radius: 10px;
  background: linear-gradient(#EEAECA, #94BBE9, #feb47b);
    
    /* Optional shadow for depth */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
 

  /* Centers content inside the board */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 660px;
  top: 100px;



}

#score, #highScore {
  color: rgb(255, 255, 255);
  font-size: 90px;
  position: relative;
  left: 650px;
  top: 200px;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: red;
  z-index: 1;
}
h1 {
  position: absolute;
  left: 35%;
  top: 1%;
  color: white;
  font-size: 50px;
}